/* Global */
* {
  text-decoration: none;
  font-family: sans-serif;
}

body {
  background-image: url("./images/code2.jpg");
  background-attachment: fixed;
  background-size: 30%;
  padding: 10px;
}

main {
  background-color: rgba(255, 255, 255, 0.904);
  padding: 15px;
}

p {
  max-width: 900px;
  margin: auto;
}

h2 {
  text-align: center;
}

li {
  font-size: 15px;
}

/* first section of the page */
#home {
  font-size: 23px;
}

.header-1 {
  width: fit-content;
  margin: auto;
  text-align: center;
}

.profilePic {
  width: 200px;
}

nav {
  background-color: rgba(0, 0, 0, 0.89);
  padding: 10px;
  margin: 20px 0px;
}

nav a {
  color: bisque;
  margin: 0px 80px;
}

/*Middle and bio with list of services*/
#about {
  margin: 0px 40px;
}

#goals {
  width: fit-content;
  margin: auto;
  display: flex;
  min-height: 200px;
}

.goal_list {
  margin-right: 50px;
}

.step_list {
  margin-left: 50px;
}

/*Projects section*/
.project {
  width: 150px;
  margin: 0px 60px 40px 60px;
  justify-content: space-between;
}

.project h3 {
  text-align: center;
}

.project p {
  font-size: 12px;
}

#projects {
  text-align: center;
  display: flex;
  width: fit-content;
  margin: auto;
  justify-content: space-between;
}

.vl {
  background-color: rgba(0, 0, 0, 0.89);
  padding: 10px;
  margin: 0px 0px;
}

.vl a {
  font-size: 13px;
  color: bisque;
  margin: 0px 5px;
}

/*Contact section*/
footer {
  width: fit-content;
  margin: auto;
  text-align: center;
}

textarea {
  height: 100px;
  margin: 10px 0px;
}

input {
  margin: 10px auto 0px auto;
  width: fit-content;
}

button {
  margin-bottom: 10px;
}

.linkDiv {
  margin-top: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 160px;
}

@media screen and (max-width: 850px) {
  #about {
    margin: 0px 0px;
  }
  #goals {
    flex-direction: column;
    margin: auto;
  }

  #projects {
    flex-direction: column;
    margin: auto;
  }

  .project {
    margin: 30px auto;
  }

  .goal_list {
    margin-right: 0px;
  }

  .step_list {
    margin-left: 0px;
  }

  nav a {
    margin: 0px 9px;
  }
}
