/*Basic styling for entire webpage*/
body {
  font-family: 'Krona One', sans-serif;
  font-weight: 900;
  color: black;
  background-color: rgb(150, 103, 43);
}
main {
  background-color: rgba(255, 255, 255, 0.26);
  text-align: center;
  padding: 50px;
  border-radius: 0px;
  line-height: 1.5;
  margin: 10px;

}

h1 {
  font-size: 15px;
}

li {
  list-style: none;
}
.header-1 {
  text-align: center;
}
header nav {
  background-color: rgba(179, 179, 179, 0.705);
  border-radius: 25px;
  font-size: 11px;
}
header nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: beige;
  padding: 10px;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  padding: 7px;
}
img {
  width: 30%;
}
.header-2 {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
#goals {
  font-size: 11px;
  margin: 5px;
}

p {
  font-size: 13px;
}

#goals h4 {
  text-align: center;
}
#goals li {
  text-align: left;
  font-size: 10px;
}

h4 {
  text-align: center;
}

#about div p {
  text-align: left;
  text-indent: 34px;
  font-size: 11px;
}

#about h4 {
  font-size: 12px;
}

.projectContent img {
  max-width: 300px;
  max-height: 300px;
  margin-top: 30px;
}

#projects {
  display: flex;
  margin: 50px 0;
  justify-content: space-around;
  flex-direction: column;
}

#projects .project ul li {
  font-size: 13px;
}

#projects .project {
  flex: 1;
}

ul {
  padding-left: 0px;
}

header nav a:link {
  color: white;
}

header nav a:visited {
  color: white;
}

header nav a:hover {
  color: red
}

a:link {
  color: rgb(0, 224, 0)
}

a:visited {
  color: darkmagenta
}

a:hover {
  color: red
}
a:active {
  color: pink
}

@media all and (min-width: 870px) {
  main {
    line-height: 2.2;
    margin: 40px;
  }

  h1 {
    font-size: 40px;
  }

  header nav ul li a {
    text-decoration: none;
    margin: 20px;
  }
  header nav ul {
    flex-direction: row;
    font-size: 18px;
  }
  header {
    margin: 80px;
  }
  
  img {
    height: 20%;
    width: 20%;
  }
  .header-2 {
    flex-direction: row;
  }
  .header-2 p {
    padding-top: 10px;
  }
  #goals {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 50px;
    font-size: 16px;
  }
  #goals li {
    text-align: left;
    font-size: 14px;
  }
  p {
    font-size: 16px;
  }

#projects {
  flex-direction: row;
}

}
#about div p {
  font-size: 14px;
}

#about h4 {
  font-size: 20px;
}
.vl {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

}
